<div class="property">

  <div class="name"><%= property.name %></div>

  <div class="price"><%= number_to_currency(property.price) %></div>

  <div class="baths"><%= property.baths %> baths</div>

  <div class="bedrooms"><%= property.bedrooms %> bedrooms</div>

  <div class="year-built">Built <%= property.year_built %></div>

  <div class="square-feet"><%= property.square_feet %> sq. feet</div>

  <div class="lot-size">Lot: <%= property.lot_size %> sq. feet</div>
</div>