<div class="property">

  <a href="<%= property_path(property) %>"><img src="<%= property.image_url %>" /></a>

  <div class="name"><%= property.name %></div>

  <div class="price">
    <%= display_price(property) %>
  </div>

  <div class="baths"><%= property.baths %> baths</div>

  <div class="bedrooms"><%= property.bedrooms %> bedrooms</div>

  <div class="year-built">Built <%= property.year_built %></div>

  <div class="square-feet"><%= property.square_feet %> sq. feet</div>

  <div class="lot-size">Lot: <%= property.lot_size %> sq. feet</div>
</div>