<div id="header">
  <%= link_to 'All Listings', properties_path, class: 'button' %>
  <%= link_to 'Rentals', rentals_properties_path, class: 'button' %>
  <%= link_to 'For Sale', for_sale_properties_path, class: 'button' %>
  <%= link_to 'Houses', houses_properties_path, class: 'button' %>
  <%= link_to 'Condos', condos_properties_path, class: 'button' %>
  <%= link_to 'Apartments', apartments_properties_path, class: 'button' %>
  <%= link_to 'Recently Listed', recent_properties_path, class: 'button' %>
</div>